body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
}
.container {
    max-width: 600px;
    margin: auto;
    background: white;
    padding: 20px;
    margin-top: 40px;
    border-radius: 8px;
}
h1 {
    text-align: center;
    margin-bottom: 20px;
}
label {
    display: block;
    margin-bottom: 12px;
}
input {
    width: 100%;
    padding: 8px;
    margin-top: 4px;
}
button {
    background-color: #007BFF;
    color: white;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}
